<th:block>
    <!--    Desks-->
    <div class="header" id="desks">
        <div class="header-content">
            <div class="container">
                <div class="row">

                    <!--                    Offices overview-->
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">

                            <h1>Desks</h1>
                            <th:block th:if="${desks.size() != 0}">
                                <table class="table table-dark table-custom">
                                    <thead>
                                    <tr>
                                        <th scope="col">Ordinal Number</th>
                                        <th scope="col">Office</th>
                                        <th scope="col">Employee</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <th:block th:each="desk: ${desks}">
                                        <tr>
                                            <td th:text="${desk.getOrdinalNumber()}"></td>
                                            <td th:text="${desk.getOffice().getOrdinalNumber()}"></td>
                                            <td th:if="${desk.getEmployee() != null}"
                                                th:text="${desk.getEmployee().toString()}"></td>
                                            <td th:if="${desk.getEmployee() == null}">Not specified</td>
                                            <td>
                                                <a class="btn btn-sm btn-success"
                                                   th:href="@{'/desks/edit-desk/{desk_id}' (desk_id=${desk.getDeskId()})}"
                                                   th:method="GET">
                                                    <i class="fa fa-trash" th:text="Edit"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-danger"
                                                   th:href="@{'/desks/delete-desk/{desk_id}' (desk_id=${desk.getDeskId()})}"
                                                   th:method="GET">
                                                    <i class="fa fa-trash" th:text="Delete"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    </th:block>
                                    </tbody>

                                </table>
                            </th:block>

                            <th:block th:if="${desks.size() == 0}">
                                <div>
                                    <h5 style="color: #1d2124; opacity: 80%; padding-left: 20px;.">No desks.</h5>
                                </div>
                            </th:block>

                        </div>
                    </div>

                    <!--                    Add desk form-->
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h1>Add Desk</h1>
                            <form th:action="@{/desks/addDesk}" th:method="POST">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input id="id" type="hidden" name="id" th:value="(${selectedDesk} != null ? ${selectedDesk.getDeskId()} : '')">

                                        <label class="dark-text-color" for="desk_ordinalNumber">Ordinal Number*</label>
                                        <input required class="form-control" id="desk_ordinalNumber" name="ordinal_number"
                                               placeholder="ordinal number" type="number" th:value="(${selectedDesk} != null ? ${selectedDesk.getOrdinalNumber()} : '')">

                                        <label class="dark-text-color" for="office_id">Office*</label><br/>
                                        <select class="form-control-select" id="office_id" name="office_id">

                                            <option th:if="${selectedDesk} != null"
                                                    th:selected="${selectedDesk.getOffice() == office.getOfficeId()}"
                                                    th:each="office : ${offices}"
                                                    th:text="${office.getOrdinalNumber()}"
                                                    th:value="${office.getOfficeId()}"></option>

                                            <option th:value="-1">Select office</option>
                                            <option th:if="${selectedDesk} == null"
                                                    th:each="office : ${offices}"
                                                    th:text="${office.getOrdinalNumber()}"
                                                    th:value="${office.getOfficeId()}"></option>
                                        </select>

                                        <label class="dark-text-color" for="employee_id">Employee</label><br/>
                                        <select class="form-control-select" id="employee_id" name="employee_id">


                                            <option th:if="${selectedDesk != null && selectedDesk.getEmployee() != null}"
                                                    th:selected="${selectedDesk.getEmployee().toString()}"
                                                    th:text="${selectedDesk.getEmployee().toString()}"
                                                    th:value="${selectedDesk.getEmployee().getEmail()}"></option>
                                            <option th:value="${null}">Not specified</option>
                                            <option
                                                    th:each="employee : ${employees}"
                                                    th:text="${employee.toString()}"
                                                    th:value="${employee.getEmail()}"></option>
                                        </select>

                                        <button class="red-button" type="submit">Submit</button>
                                        <!--error message-->
                                        <label class="text-danger"
                                               th:if="${hasError}" th:text="${error}"></label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>




</th:block>