<th:block>

    <!--    Add employee form-->
    <div id="listEmployees">
        <header class="header" id="headerRequests">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-5">
                            <div class="text-container">
                                <h2>Employees overview</h2>
                                <a class="btn-solid-lg page-scroll" href="#employeeForm">Click here to add a new employee.</a>
                                <br/> <br/>

                                <th:block th:if="${employees.size() != 0}">
                                    <table class="table table-dark table-custom">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Surname</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Office</th>
                                            <th scope="col">Desk</th>
                                            <th class="col-4" scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="employee: ${employees}">
                                            <tr>
                                                <td th:text="${employee.getName()}"></td>
                                                <td th:text="${employee.getSurname()}"></td>
                                                <td th:text="${employee.getEmail()}"></td>
                                                <td th:text="${employee.getPhone()}"></td>
                                                <td th:text="${employee.getRole()}"></td>
                                                <td th:if="${employee.getDesk() != null}" th:text="${employee.getDesk().getOffice().getOrdinalNumber()}"></td>
                                                <td th:if="${employee.getDesk() == null}">Not assigned</td>
                                                <td th:if="${employee.getDesk() != null}" th:text="${employee.getDesk().getOrdinalNumber()}"></td>
                                                <td th:if="${employee.getDesk() == null}">Not assigned</td>
                                                <td>
                                                    <a
                                                            th:href="@{'/employees/edit-employee/{employee_id}' (employee_id=${employee.getEmail()})}"
                                                            th:method="GET">
                                                        <i class="btn btn-sm btn-success">Edit</i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a
                                                            th:href="@{'/employees/delete-employee/{employee_id}' (employee_id=${employee.getEmail()})}"
                                                            th:method="GET">
                                                        <i class="btn btn-sm btn-danger">Delete</i>
                                                    </a>
                                                </td>

                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </th:block>

                                <th:block th:if="${employees.size() == 0}">
                                    <div>
                                        <h5 style="color: #1d2124; opacity: 80%; padding-left: 20px;.">No employees.</h5>
                                    </div>
                                </th:block>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>


    <!--    Add employee form-->
    <header class="header" id="employeeForm">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="form-container dark-background">
                            <h4>Add employee</h4>
                            <form th:method="POST" th:action="@{/employees/add-employee}">
                                <div class="form-row">
                                    <input id="selectedEmployeeId" type="hidden" name="selectedEmployeeId" th:value="(${selectedEmployee} != null ? ${selectedEmployee.getEmail()} : '')">
                                    <div class="form-group col-md-6">
                                        <input name="name" class="form-control" id="inputName" placeholder="Name" type="text" th:value="(${selectedEmployee != null} ? ${selectedEmployee.getName()} : '')">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <input name="surname" class="form-control" id="inputSurname" placeholder="Surname" type="text" th:value="(${selectedEmployee != null} ? ${selectedEmployee.getSurname()} : '')">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="email" class="form-control" id="inputEmail" placeholder="Email" type="email" th:value="(${selectedEmployee != null} ? ${selectedEmployee.getEmail()} : '')">
                                </div>
                                <div class="form-group">
                                    <input name="phone" class="form-control" id="inputPhone" placeholder="Phone" type="text" th:value="(${selectedEmployee != null} ? ${selectedEmployee.getPhone()} : '')">
                                </div>
                                <div class="form-group">
                                    <select name="role" id="role" class="form-control-select">
                                        <option th:if="${selectedEmployee != null}"
                                                th:selected="${selectedEmployee.getRole() == role}"
                                                th:each="role : ${T(mk.ukim.finki.wp.schedulerspringbootproject.Model.Enumetarion.Role).values()}"
                                                th:value="${role}" th:text="${role}"></option>
                                        <option th:if="${selectedEmployee == null}"
                                                th:each="role : ${T(mk.ukim.finki.wp.schedulerspringbootproject.Model.Enumetarion.Role).values()}"
                                                th:value="${role}" th:text="${role}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control-select" name="desk_id" id="desk_id">
                                        <option th:value="-1">Select desk</option>
                                        <option th:if="${selectedEmployee != null && selectedEmployee.getDesk() != null}"
                                                th:selected="${selectedEmployee.getDesk().getDeskId()}"
                                                th:value="${selectedEmployee.getDesk().getDeskId()}"
                                                th:text="${selectedEmployee.getDesk().getOrdinalNumber()}"></option>

                                        <option th:value="-1">Not specified</option>
                                        <option th:each="desk : ${desks}"
                                                th:value="${desk.getDeskId()}"
                                                th:text="${desk.getOrdinalNumber()}"></option>
                                    </select>
                                </div>
                                <button class="red-button" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



</th:block>


