<th:block>
    <div id="sign-up">
        <header id="header" class="ex-2-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <!--                        register title-->
                        <h1 th:text="#{button.register}"></h1>
                        <p>[[#{fillForm}]]<br/>[[#{goToLogin}]]
                            <span class="nav-item">
                                    <a href="/login" class="nav-link page-scroll" th:text="#{button.login}"></a>
                                </span></p>

                        <!--                        register form-->
                        <div class="form-container">
                            <form th:method="POST" th:action="@{/register}" id="signUpForm" data-toggle="validator"
                                  data-focus="false">

                                <!--                                name-->
                                <div class="form-group">
                                    <input
                                            name="name"
                                            id="name"
                                            th:placeholder="#{user.name}"
                                            type="text"
                                            class="form-control-input"
                                            required/>
                                </div>

                                <!--                                surname-->
                                <div class="form-group">
                                    <input
                                            name="surname"
                                            id="surname"
                                            th:placeholder="#{user.surname}"
                                            type="text"
                                            class="form-control-input"
                                            required/>
                                </div>

                                <!--                                phone-->
                                <div class="form-group">
                                    <input
                                            name="phone"
                                            id="phone"
                                            th:placeholder="#{user.phone}"
                                            type="text"
                                            class="form-control-input"
                                            required/>
                                </div>

                                <!--                                email-->
                                <div class="form-group">
                                    <input
                                            th:autocomplete="new-password"
                                            name="email"
                                            id="email"
                                            th:placeholder="#{user.email}"
                                            type="email"
                                            class="form-control-input"
                                            required/>
                                </div>

                                <!--                                password-->
                                <div class="form-group">
                                    <input
                                            autocomplete="new-password"
                                            id="password"
                                            th:placeholder="#{user.password}"
                                            name="password"
                                            type="password"
                                            class="form-control-input"
                                            required/>
                                </div>

                                <!--                                confirm password-->
                                <div class="form-group">
                                    <input
                                            id="confirmpassword"
                                            th:placeholder="#{user.confirmPassword}"
                                            name="confirmPassword"
                                            type="password"
                                            class="form-control-input"
                                            required/>
                                </div>

                                <!--                                register button-->
                                <div class="form-group">
                                    <button type="submit" class="form-control-submit-button"
                                            th:text="#{button.register}">
                                    </button>
                                </div>

                                <!--                                error message-->
                                <label class="text-danger" th:if="${hasError}" th:text="#{error.register}"></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </br> </br>
        </header>
    </div>
</th:block>